{% extends "images/base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Submit your image</h2>
<form enctype="multipart/form-data" action="{% url 'images:submit' %}" method="post">
    {% csrf_token %}

    <label class="fieldLabel">Image title</label>
    <div class="fieldWrapper">
        {{ form.title }}
    </div>
    <label class="fieldLabel">Description</label>
    <div class="fieldWrapper">
        {{ form.description }}
    </div>
    <label class="fieldLabel">Submit your image</label>
    <div class="fieldWrapper">
        {{ form.image }}
    </div>

    <br>
    <input type="submit" value="Submit">
</form> 

{% endblock %}
